@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

body {
    background-color: rgb(10, 10, 22);
}

.container-header {
    background-color: rgba(224, 224, 224, 0.884);
    max-width: 95%;
    margin: 15px auto;
    height: 70px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.title-header {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    margin-left: 10px;
}


.container-gpi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    gap: 15px;
}

.title-gpi {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-enter {
    background: #ffffff;
    border: none;
    color: #000000;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #000000;
}

.btn-enter:hover {
    background: #000000;
    color: white;
    border: 1px solid #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    cursor: pointer;
}

.footer-vertis {
    position: absolute;
    width: 100%;
    padding: 10px;
    margin: auto;
    font-style: italic;
    bottom: 0;
    margin-top: 160px;
    background-color: rgba(224, 224, 224, 0.884);
    a {
        text-decoration: none;
        color: inherit;
    }
}

.footer-vertis::selection {
    color: white;
}

.div-all-footer {
    display: flex;
    border-color: rgba(28, 40, 66, 0.842);
    border-radius: 50px;
    width: 75%;
    margin: auto;
    border-top: none;
    border-bottom: none;
    align-items: start;
    justify-items: center;
    justify-content: space-evenly;
    p {
        margin: 7px;
        font-size: 17px;
        font-weight: 300;
    }

    h1 {
        font-size: 25px;
        font-weight: 600;
        text-shadow: -1px 3px rgba(247, 167, 155, 0.158);
    }
}

.footer-logo {
    display: grid;
    grid-column: 1 / 1;
    align-content: start;
    margin-top: 10px;
    color: black;
    text-align: center;
    p {
        font-weight: 400;
        color: rgba(44, 44, 44, 0.781);
        text-shadow: -1px 1px rgba(0, 153, 255, 0.253);
        font-size: 13px;
    }
}

.footer-logo:hover {
    transform: scale(1.02);
    transition: 0.5s;
    p {
        color: rgb(235, 102, 24);
    }
}

.footer-links {
    display: grid;
    grid-column: 2 / 3;
    align-items: start;
    margin-top: 10px;

    h1 {
        font-weight: 400;
        margin-bottom: 10px;
    }
    a:hover {
        transform: scaleX(1.02);
        color: rgb(235, 102, 24);

    }
}

.footer-infos {
    grid-column: 3 / 3;
    display: grid;
    
}

.a-contact:hover {
    transform: scale(1.007);
    transition: 0.5s all;
        color: rgb(235, 102, 24);
        
}

.mail-svg:hover {
    color: rgb(235, 102, 24);
    transition: 0.5s all;
}


.time-svg {
    display: flex;
    align-items: center;
}

.mail-svg {
    display: flex;
    align-items: center;
}

.telefone-svg {
    display: flex;
    align-items: center;    
}

.a-whatsapp:hover {
    transform: scale(1.007);
    transition: 0.5s all;
        color: rgb(235, 102, 24);
        
}

.whatsapp-svg:hover {
    color: rgb(235, 102, 24);
    transition: 0.5s all;
}

.whatsapp-svg {
    display: flex;
    align-items: center;
}

.a-instagram:hover {
    transform: scale(1.007);
    transition: 0.5s all;
        color: rgb(235, 102, 24);
        
}

.instagram-logo:hover {
    color: rgb(235, 102, 24);
    transition: 0.5s all;
}

.instagram-logo {
    display: flex;
    align-items: center;
}

.footer-local {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 200;
    margin-top: 10px;
    font-size: 13px;
}